<div id="sidebar">
    <h4 class="text-center py-3">Menú</h4>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/vistaPrincipal"><i class="fas fa-desktop"></i> Inicio</a>
        </li>
        <li class="nav-item has-submenu">
            <a class="nav-link submenu-toggle" href="#">
                <i class="fas fa-folder"></i> Gestión
                <span class="submenu-icon"><i class="fas fa-chevron-down"></i></span>
            </a>
            <ul class="nav flex-column ms-3 submenu">
                <li><a class="nav-link" href="/gestionEquipos"><i class="fas fa-laptop"></i>Equipos</a></li>
                <li><a class="nav-link" href="/gestionUsuarios"><i class="fas fa-user-cog"></i>Usuarios</a></li>
                <li><a class="nav-link" href="/gestionLocaciones"><i class="fas fa-building"></i>Sedes Y Oficinas</a></li>
                <li><a class="nav-link" href="/gestionTiposEquipos"><i class="fas fa-tags"></i> Tipos Equipos</a></li>
            </ul>
        </li>
        <li class="nav-item has-submenu">
            <a class="nav-link submenu-toggle" href="#">
                <i class="fas fa-wrench"></i> Configuraciones
                <span class="submenu-icon"><i class="fas fa-chevron-down"></i></span>
            </a>
            <ul class="nav flex-column ms-3 submenu">
                <li><a class="nav-link" href="/vistaConfiguracionPerfil"><i class="fas fa-user-edit"></i>Perfil</a></li>
                <li><a class="nav-link" href="/vistaConfiguracionEquiposAsignoUsuario"><i class="fas fa-tag"></i>Equipos Asignados</a></li>
                <!-- <li><a class="nav-link" href="/configuracionUbicaciones"><i class="fas fa-map-marked-alt"></i> Ubicación</a></li> -->
            </ul>
        </li>
        <li class="nav-item has-submenu">
            <a class="nav-link submenu-toggle" href="#">
                <i class="fas fa-chart-bar"></i> Reportes
                <span class="submenu-icon"><i class="fas fa-chevron-down"></i></span>
            </a>
            <ul class="nav flex-column ms-3 submenu">
                <li><a class="nav-link" href="/reporteHistorialMovimientosEquipos"><i class="fas fa-exchange-alt"></i> Historial de Movimientos Equipos</a></li>
            </ul>
        </li>
    </ul>
    <% if (usuario.rol === 'Administrador') { %>
        <ul class="nav flex-column ms-3 submenu"></ul>
        <li class="nav-item">
            <a class="nav-link" href="/vistaEnvioCorreo">
                <i class="fas fa-paper-plane"></i> Enviar Correo
            </a>
        </li>
        <% } %>
     </ul>
</div>